div.homebox {
    width: 1000px;
    height: 500px;
    padding: 10px;
    border: 1px solid black;
    margin: 0 auto; 
}

div.topbox {
    width: 10%;
    height: 10%;
    padding: 10px;
    text-align:center;
    margin: 0 auto; 
}

button.top {
    width: 10%;
    height: 10%
}

div.projectbox {
    width: 800px;
    height: 600px;
    padding: 10px;
    border: 1px solid black;
    margin: 0 auto; 
}
