div.homebox {
    width: 1000px;
    height: 500px;
    padding: 25px;
    border: 1px solid black;
    margin: 0 auto; 
}

div.topbox {
    padding: 25px;
    text-align:center;
    margin: 0 auto; 
}

div.projectbox {
    width: 800px;
    height: 600px;
    padding: 25px;
    border: 1px solid black;
    margin: 0 auto; 
}

input.feedback {
    
}

textarea.feedback {
    width= 600px
    height= 400px
    padding: 10px
}

input.feedback {
    padding: 10px
}

label.feedback {
    padding: 10px
}
